.main {
  flex: 1;
  background-color: #e9e7f1;
}

.main-header {
  height: 60px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.notification-icon {
  font-size: 1.25rem;
  cursor: pointer;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border: 2px solid #ddd;
}
.search-bar{
  background-color: white;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 10px;
}

.search-bar input,
.search-bar select,
.search-bar button {
  height: 45px;
}

.content-area {
  min-height: 300px;
}
