/* Hiệu ứng chuyển đổi mượt mà cho toàn bộ trang khi thay đổi theme */
body {
    transition: background-color 0.5s ease, color 0.5s ease; /* Hiệu ứng chuyển đổi cho background và màu chữ */
  }
  
  /* Theme light */
  body[data-bs-theme='light'] {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Theme dark */
  body[data-bs-theme='dark'] {
    background-color: #121212;
    color: #ffffff;
  }
  